<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/metadata', { title: 'Flashcard hub' }) %>
  <%- include('/addClickListener') %>
  <base href="/collections/">
  <style>
    #createFSet {
      width: fit-content;
      padding: 1em;
      background-color: lightgray;
      border-radius: 0.5em;
    }

    #createFSet>button {
      background-color: #0A0;
      color: var(--accent-secondary);
    }

    .delete {
      background-color: #C00;
      color: var(--accent-secondary);
    }

    #createFSet>button,
    #fsets>li>button {
      margin-left: 1em;
    }

    #createFSet>label {
      display: block;
      margin-bottom: 0.5em;
    }

    #fsets {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    #fsets>li {
      display: block;
      width: fit-content;
      padding: 1em;
      background-color: lightgray;
      border-radius: 0.5em;
      margin-bottom: 0.5em;
    }

    #fsets>li>a {
      all: unset;
      padding: 1em;
      cursor: pointer;
      display: block;
      background-color: var(--accent-primary);
      color: var(--accent-secondary);
      border-radius: 0.4em;
      margin-bottom: 0.5em;
      width: fit-content;
    }

    #fsets>li>a:hover {
      background-color: var(--accent-secondary);
      color: var(--accent-primary);
    }

  </style>
</head>

<body>
  <%- include('/nav', { authenticated }) %>

  <main>
    <%- include('/logo') %>
    <h2>Welcome <%= user %>!</h2>
    <div id="createFSet">
      <label for="name">Name</label>
      <input id="name" required autofocus maxlength="256" name="name" size="16">
      <button type="button">Add collection</button>
    </div>
    <script type="module">
      const button = document.querySelector('#createFSet>button');
      const name = document.getElementById('name');

      addClickListener(button, 'fset', 'POST', {}, name);
    </script>
    <% if (fsets.length) { %>
    <ul id="fsets">
      <% fsets.forEach((fset, index) => { %>
      <li><a href="<%= index %>"><%= fset %></a></li>
      <% }); %>
    </ul>
    <template id="delete">
      <button type="button" class="delete">Delete</button>
    </template>
    <template id="rename">
      <input required maxlength="256" name="name">
      <button type="button">Rename</button>
    </template>
    <script type="module">
      const deleteFragment = document.getElementById('delete').content;
      const deleteButton = deleteFragment.firstElementChild;

      const renameFragment = document.getElementById('rename').content;
      const renameButton = renameFragment.querySelector('button');
      const nameInput = renameFragment.querySelector('input');

      const listItems = document.getElementById('fsets').children;

      Array.prototype.forEach.call(listItems, (li, index) => {
        const deleteButtonClone = deleteButton.cloneNode(true);
        const renameButtonClone = renameButton.cloneNode(true);
        const nameInputClone = nameInput.cloneNode(true);

        addClickListener(deleteButtonClone, 'fset', 'DELETE', { index });
        addClickListener(renameButtonClone, 'fset', 'PATCH', { index },
          nameInputClone);

        li.appendChild(nameInputClone);
        li.appendChild(renameButtonClone);
        li.appendChild(deleteButtonClone);
      });
    </script>
    <% } %>
  </main>

</body>

</html>
