<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlashX | Flashcards</title>
  <%- include('/addClickListener') %>
</head>

<body>
  <%- include('/nav', { authenticated }) %>
  <h1>FlashX</h1>
  <h2>Flashcard collection "<%= fset.name %>"</h2>

  <label>Question
    <input required maxlength="256" id="createQ" name="question">
  </label>
  <label>Answer
    <input required maxlength="256" id="createA" name="answer">
  </label>
  <button type="button" id="createFlashcard">Create a flashcard</button>
  <script type="module">
    const button = document.getElementById('createFlashcard');
    const question = document.getElementById('createQ');
    const answer = document.getElementById('createA');
    const payload = { fset: +location.pathname.match(/\d+/)[0] };

    addClickListener(button, 'flashcard', 'POST', payload, question, answer);
  </script>

  <% if (fset.flashcards.length) { %>
  <dl>
    <% for (const flashcard of fset.flashcards) { %>
    <dt><%= flashcard.question %></dt>
    <dd><%= flashcard.answer %></dd>
    <% } %>
  </dl>
  <% } %>
</body>

</html>
