<%- include('/metadata', { title: 'Flashcards' }) %>
<%- include('/addClickListener') %>
<style>
  #createFlashcard {
    display: flex;
    flex-direction: column;
  }

  #createFlashcard>input {
    margin-bottom: 1.5em;
  }

  #createFlashcard>label {
    margin-bottom: 0.5em;
  }

  #flashcards>div {
    margin-bottom: 1em;
  }

  #flashcards input {
    margin: 0 1em;
  }

  dt,
  dd {
    margin: 0;
  }

  dt {
    border-bottom: 1px solid var(--accent-secondary);
    padding-bottom: 1em;
  }

  dd {
    border-top: 1px solid var(--accent-secondary);
    padding-top: 1em;
  }

  .delete {
    margin-left: 1em;
  }

</style>

<%- include('/nav', { authenticated }) %>
<main>
  <%- include('/logo') %>
  <h2>Flashcard collection "<%= fset.name %>"</h2>

  <div id="createFlashcard" class="form">
    <label for="createQ">Question</label>
    <input id="createQ" name="question" autofocus required maxlength="256">
    <label for="createA">Answer</label>
    <input id="createA" name="answer" required maxlength="256">
    <button type="button" class="positiveAction">Add flashcard</button>
  </div>
  <script type="module">
    const button = document.querySelector('#createFlashcard>button');
    const question = document.getElementById('createQ');
    const answer = document.getElementById('createA');
    const payload = { fset: +location.pathname.match(/\d+/)[0] };

    addClickListener(button, 'flashcard', 'POST', payload, question, answer);
  </script>

  <% if (fset.flashcards.length) { %>
  <dl id="flashcards">
    <% for (const flashcard of fset.flashcards) { %>
    <div class="form">
      <dt><%= flashcard.question %></dt>
      <dd><%= flashcard.answer %></dd>
    </div>
    <% } %>
  </dl>
  <template id="delete">
    <button type="button" class="delete">Delete</button>
  </template>
  <template id="question">
    <input required maxlength="256" name="question">
    <button type="button">Update Q</button>
  </template>
  <template id="answer">
    <input required maxlength="256" name="answer">
    <button type="button">Update A</button>
  </template>
  <script type="module">
    const flashcards = document.getElementById('flashcards');
    const questions = flashcards.querySelectorAll('dt');
    const answers = flashcards.querySelectorAll('dd');
    const fset = +location.pathname.match(/\d+/)[0];

    const deleteFragment = document.getElementById('delete').content;
    const deleteButton = deleteFragment.firstElementChild;

    const questionFragment = document.getElementById('question').content;
    const questionInput = questionFragment.querySelector('input');
    const questionButton = questionFragment.querySelector('button');

    const answerFragment = document.getElementById('answer').content;
    const answerInput = answerFragment.querySelector('input');
    const answerButton = answerFragment.querySelector('button');

    Array.prototype.forEach.call(questions, (question, index) => {
      const deleteButtonClone = deleteButton.cloneNode(true);
      const questionButtonClone = questionButton.cloneNode(true);
      const questionInputClone = questionInput.cloneNode(true);
      const payload = { index, fset };

      addClickListener(deleteButtonClone, 'flashcard', 'DELETE', payload);
      addClickListener(questionButtonClone, 'flashcard/question', 'PATCH',
        payload, questionInputClone);

      question.appendChild(questionInputClone);
      question.appendChild(questionButtonClone);
      question.appendChild(deleteButtonClone);
    });

    Array.prototype.forEach.call(answers, (answer, index) => {
      const answerButtonClone = answerButton.cloneNode(true);
      const answerInputClone = answerInput.cloneNode(true);
      const payload = { index, fset };

      addClickListener(answerButtonClone, 'flashcard/answer', 'PATCH',
        payload, answerInputClone);

      answer.appendChild(answerInputClone);
      answer.appendChild(answerButtonClone);
    });
  </script>
  <% } %>
</main>
