<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('/metadata', { title: 'Register' }) %>
  <%- include('/formStyle') %>
  <style>
    form {
      margin: auto;
      width: fit-content;
    }

    #togglePwd {
      all: unset;
      cursor: pointer;
      padding: 0.5em 1em;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    #togglePwd:focus-visible {
      outline: 2px solid black;
      outline-offset: -0.5em;
      border-radius: 1em;
    }

    #togglePwd>img {
      height: 2em;
      width: 2em;
    }

    #togglePwd>img:not([hidden]) {
      display: block;
    }

    #pwdContainer {
      margin-bottom: 2em;
      position: relative;
    }

    #password {
      padding-right: 4em;
    }

  </style>
</head>

<body>
  <%- include('/nav', { authenticated }) %>

  <main>
    <%- include('/logo') %>

    <form action="/register" method="post" class="form">
      <label for="username">Username</label>
      <input id="username" name="username" autocomplete="username" required
          autofocus maxlength="128" pattern="[!-~]*">
      <script type="module">
        const username = document.getElementById('username');

        username.addEventListener('input', event => {
          const validity = username.validity;
          const message =
            validity.tooLong ? 'Maximum length is 128' :
              validity.patternMismatch ? `Forbidden:
                spaces
                control characters
                non-ascii characters` : '';

          username.setCustomValidity(message);
        });
      </script>
      <label for="password">Password</label>
      <div id="pwdContainer">
        <input id="password" type="password" name="password"
            autocomplete="new-password" minlength="11"
            pattern="(?=.*?\d)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[!-/:-@[-`{-~])[!-~]*"
            maxlength="128" required>
        <button id="togglePwd" type="button">
          <img src="eye-icon-show-32px.png" alt="show password" width="32"
              height="32">
          <img src="eye-icon-hide-32px.png" alt="hide password" width="32"
              height="32" hidden>
        </button>
      </div>
      <script type="module">
        const password = document.getElementById('password');
        const togglePwd = document.getElementById('togglePwd');
        const eyeIconShow = togglePwd.querySelector(':not([hidden])');
        const eyeIconHide = togglePwd.querySelector('[hidden]');

        password.addEventListener('input', event => {
          const validity = password.validity;
          const message =
            validity.tooShort ? 'Minimum length is 11' :
              validity.tooLong ? 'Maximum length is 128' :
                validity.patternMismatch ? `Required:
        1 small letter
        1 capital letter
        1 digit
        1 symbol
        
        Forbidden:
        spaces
        control characters
        non-ascii characters` : '';

          password.setCustomValidity(message);
        });

        togglePwd.addEventListener('click', event => {
          const hidden = password.type === 'password';

          password.type = hidden ? 'text' : 'password';
          eyeIconShow.style.display = hidden ? 'none' : 'block';
          eyeIconHide.style.display = hidden ? 'block' : 'none';
        });
      </script>
      <% for (const { message } of flash) { %>
      <p class="message"><strong><%= message %></strong></p>
      <% } %>
      <button class="positiveAction">Create account</button>
      <p id="link">Already registered? <a href="/">Log in</a></p>
    </form>
  </main>

</body>

</html>
